* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x:   hidden;
}

header {
  position: fixed;
  top:0; 
  left: 0;
  right: 0;
  background-color: rgb(57, 88, 99);
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

/*navbar*/
 nav {
  display: flex;
  /* height: 55px; */
  align-items: center;
  color: whitesmoke;
  font-size: medium;
  justify-content: space-between;
  /* justify-content: space-around; */
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  text-indent: 2px;
  transition: 0.2s;
  padding-left: 15px;
} 

nav .logo {
  margin-left: 5%;
  font-size: 3rem;
  font-family: "fantasy", cursive;
  letter-spacing: 1px;
  font-weight: bolder;
  color: azure;
}

nav .logo span {
  color:whitesmoke;
}


nav ul li a {
  color: whitesmoke;
  font-size: 2rem;
  padding: 2rem;
}

header .navbar ul li a:hover {
  color: var(--blue);
}

header .icon {
  margin-left: 1.5rem;
  font-size: large;
  color: white;
}

.fas{
  color: white;
}

header .icon a {
  justify-content: space-around;
  margin-right: 15px;
}

/* hamburger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 17px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  top: -5px;
  left: -3px;
  width: 21px;
  height: 21px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 21px;
  height: 2px;
  background-color: whitesmoke;
  border-radius: 3px;
  transition: all 0.7s;
}

/*x on hamburger menu*/
.menu-toggle span:nth-child(2) {
  transform-origin: right center;
}

.menu-toggle span:nth-child(4) {
  transform-origin: right center;
}

.menu-toggle input:checked~span:nth-child(2) {
  transform: rotate(45deg);
}

.menu-toggle input:checked~span:nth-child(4) {
  transform: rotate(-45deg);
}

/* invis span ke 2 / child ke 3 */
.menu-toggle input:checked~span:nth-child(3) {
  width: 0%;
  opacity: 0;
  transition: .1s
}
.image {
  margin-top: 31px;
  width: auto;
  max-width: 95%;
  height: 450px;
  display: block;
  margin-right: 80px;
  margin-left: 80px;
    
}

.container {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-radius: 5px;
  margin-top: 100px;
  background-color: #2d2626;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  background-color: white;
}

main {
  /* display: flex;
  flex-direction: row; */
}

@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 1; }
}

.polban img {
  width: 100%;
  height: 500px;
  animation:blink 1s ease-in-out;

}
.polban{ 
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  background-color:  #f0f0f0;
  margin: 0px;
  border-radius: 0px;

}

/* supaya ada jarak antar box  */
.flexone {
  flex-grow: 0;
}

.flextwo {
  flex-grow: 2;
  padding: 50px;
}

.hobi article{
  text-align: right;
}

footer {
  background-color: #696969;
  color: white;
  font-size: 0.9em;
  padding: 1rem 0;
}

.footer-content {
  display: flex;
  justify-content: center ;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

footer .logo {
  height: 13rem;
  margin-right: 1rem;
}

.footer-content p{
  margin-left: 20px;
  margin-top:33px;
  font-size: 13px;
  color:rgb(58, 56, 56);
}

.footer-content a{
  color:rgb(58, 56, 56);
}

.footer-content .fa{
   color: rgb(41, 41, 41);
   margin-right: 5px;
   margin-top: 5px;
}

h2  {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: left;
  color:#545454;
  text-justify: inter-word;
  word-wrap: break-word;
  font-size: 6rem;
}

.flextwo article p {

  font-size: 2.5rem;
  padding-top: 15px;
  color: #333333;
  text-justify: inter-word;
  word-wrap: break-word;
}

h5 {
  text-align: center;
  color: red;
  word-wrap: break-word;

}

p {
  text-align: justify;
  text-justify: inter-word;
  color: #333333;
}

@media screen and (max-width: 600px) {
  .flexone {
    align-self: center; 
  }

  
}

@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  #one {
    flex-direction: column;
    align-items: center;
  }

  .jalan_jalan, .jajan, .nonton {
    width: 100%;
    max-width: 300px;
    margin: 15px 0;
  }
  .hobi {
    margin-top: 20px;
  }
}

@media screen and (max-width: 576px) {
  .menu-toggle {
    display: flex;
  }

}
@media screen and (max-width: 600px) {
  #two th, #two td.softskills, #two td.hardskills {
      font-size: 14px;
  }

  #two th {
      padding: 10px;
  }

  #two td.softskills, #two td.hardskills {
      padding: 8px 10px;
  }


  main {
    flex-direction: row-reverse;
  }

  .container {
    flex-direction: column-reverse;
    align-items: center;
  }

  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(74, 152, 220);
    transform: translateX(100%); 
    transition: all 0.72s;
    opacity: 1;
    z-index: 2;
  }

  nav ul.menushow {
    opacity: 0.5;
    transform: translateX(0);
  }
}

@media only screen and (max-width: 768px) {
  .lesson .wrapper {
    padding: 100px 50px;
    height: auto;
  }
  
  #harapan, #lesson-learned {
    position: static;
    width: 100%;
    max-width: fit-content;
    padding: 50px;
    margin-top: 20px;
  }

  #harapan { 
    width : 50%;
    max-width:fit-content ;
    z-index: 999;
    margin-left: 50px; 
  }
}


.flexone h2 {
  padding-top: 100px;
}


#two {
  border-color: black;
}
.wrapper {
  width: 80%;
  margin: 0 auto;
}

.project {
  margin-top: 200px;
  background-color: #f2f2f2;
  padding: 2rem 0;
}

.project h1 {
  text-align: center;
  margin-top : 50px;
  margin-bottom: 2rem;
  font-size: 5rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content h1 {
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-size: 4rem;
  color: #565656;
}

.rectangle-shape {
  width: 100%;
  height: 0.5rem;
  background-color: #333;
  margin-bottom: 1rem;
}

.content img {
  margin-top: 30px;
  width: 90%;
  margin-bottom: 1rem;
}

.button {
  background-color: #edb4be;
  color: #fff;
  text-align: center;
  padding: 2rem 4rem;
  border-radius: 11PX;
  text-decoration: none;
  margin-top: 50px;
  border-width: 2px;
  border-style: solid;
  border-color: #706f6f;
  margin-bottom: 2rem;
  width: 20%;
}

.button:hover {
  background-color: #e682a2;
  color: #fff; 
}

.lesson {
  background-color:white;
  
}

.lesson .wrapper {
  justify-content: flex-start; 
  padding: 200px 100px; 
  background-color: #B4B4B8;
  max-width: 100%;
  width: 500px;
  height: 1300px;
  position: relative;
  z-index: 999;
}

.circle-shape {
  margin-left: 80px;
  width: 18rem;
  height: 18rem;
  background-color: #fafafa;
  border-radius: 50%;
  flex-shrink: 0; 
}

#harapan {
  position: absolute; 
  top: 270px; 
  left: -350px; 
  width : 120%;
  max-width:fit-content ;
  background-color: #706f6f; 
  padding: 100px 50px ; 
  z-index: 999;
}

#harapan h3 {
  font-size: 3rem;
  color: whitesmoke;
}

#harapan p {
  margin-top: 30px;
  font-size: 2rem;
  color: whitesmoke;
}

#lesson-learned {
  position: absolute; 
  top: 700px; 
  left: 170px; 
  width : 120%;
  background-color: #fffefe; 
  padding: 100px 50px ; 
  z-index: 999;
}

#lesson-learned h3 {
  font-size: 3rem;
  color: rgb(139, 134, 134);
}

#lesson-learned p {
  margin-top: 30px;
  font-size: 2rem;
  color: rgb(139, 134, 134);
}

.myhobi {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.myhobi h2 {
  text-align: center;
  margin-bottom: 20px;
}

#one {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  max-width: 90%;
}

.jalan_jalan, .jajan, .nonton {
  flex-basis : 30%;
  flex-grow: 1;
  padding: 20px 40px;
  background-color:  grey; 
  text-align: center;
  border-radius: 10px;
  margin: 30px;
}

.jalan_jalan img, .jajan img, .nonton img {
  width: 250px;
  height : 200px;
  border-radius: 8px;
}

.hobi {
  font-size: x-large;
  margin-top: 50px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
} 

#two table {
  width: 50%;
  margin : 50px auto;
  border-collapse: separate;
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 200px;
  border-radius: 15px;
}

#two th {
  background-color:#3b3b3d;
  color: #fff;
  padding: 15px;
  font-weight: bold;
  text-align: center;
}

#two td.softskills, #two td.hardskills {
  padding: 10px 15px;
  text-align: center;
  border-bottom: 2px solid #f2f2f2;
  width: 50%;
}

tbody h3 {
  color:#6f6f74;
  font-size: 2rem;
}
thead h2 {
  text-align: center;
  color: whitesmoke;
}

tbody td {
  font-size: 2rem;
}

.kampus {
  text-align: center;
  justify-content: center;
  background-color: #f2f2f2; 
  padding: 30px 30px 50px 30px;
}

.kampus h2{
  margin-top: 20px;
  text-align: center;
  font-size: 4rem;
  margin-top: 50px;
  color:  #555;
}

.kampus h3 {
  text-align : center;
  font-size: 3rem;
  margin-top: 40px;
}

.kampus iframe {
  margin-top: 30px;
}

